@import "../../../constants/variable";

.profile_menu_container {
	position: fixed;
	right: 5px;
	top: $headerSize + 1px;
	width: 50%;
	box-shadow: 0 0 3px $grayShadowColor;
	z-index: 100;
	background: #fdfdfd;
	border-radius: 5px;
	list-style: none;
	padding: 0.5rem 0;
	transition: all ease-out 300ms;

	@media screen and (min-width: 1000px) {
		top: $headerSize + 10px;
		max-width: 350px;
		width: 30%;
		right: 15px;
		width: 50%;
	}

	hr {
		margin: 0.5rem 0;
	}

	li {
		a,
		span {
			display: flex;
			align-items: center;
			padding: 0.7rem 0 0.7rem 0.9rem;
			color: black;

			@media screen and (min-width: 1000px) {
				padding-left: 1.8rem;
			}

			h4 {
				margin: 0;
				font-size: 1rem;
			}

			.icon {
				font-size: 2.2rem;
				margin-right: 2rem;
			}

			&:hover {
				background: $lightBlueBackground;

				h3 {
					color: $stepsLightBlue;
				}
			}
		}
	}
}

.profile_open {
	transform: translatey(0);
	opacity: 1;
}

.profile_close {
	transform: translateY(-100%);
	opacity: 0;
}
