.success_layout {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.success_icon {
		font-size: 5rem;
		color: rgb(2, 180, 2);
		margin-bottom: 1.5rem;
	}

	h2 {
		font-size: 1.2rem;
	}
}
