@import "../../../constants/variable";

.title {
	text-align: start;
	margin-bottom: 3rem;
	color: $editTableHeadColor;
	font-size: 2rem;

	@media screen and (min-width: 1000px) {
		font-size: 3rem;
		margin-bottom: 6rem;
	}
}
